#navbar {
    position: absolute;
    width: 70vmin;
    height: 60px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
}
#navbar #option {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    background: rgba(200, 200, 255, 0.1);
    border: 5px solid rgba(200, 200, 255, 0.2);
    border-radius: 50%;
    display: grid;
    grid-template-columns: auto auto auto;
}
#navbar .opt1 {
    width: 60px;
    animation: navbar_option 800ms 400ms ease-in-out forwards;
}
#navbar .opt2 {
    width: calc(70vmin - 10px);
    animation: navbar_option 800ms 400ms ease-in-out forwards reverse;
}
#navbar #option button {
    border: none;
    background: transparent;
    font-family: sans-serif;
    font-size: smaller;
    opacity: 0;
    color: rgba(200, 200, 255, 0.7);
}
#navbar #option .a1,
#navbar #option .a2,
#navbar #option .a3 {
    font-size: smaller;
    opacity: 0;
    animation: navbar_font 400ms 1200ms ease-in-out forwards;
}
#navbar #option .b1,
#navbar #option .b2,
#navbar #option .b3 {
    font-size: smaller;
    opacity: 0;
    animation: navbar_font 400ms ease-in-out forwards reverse;
}
#navbar #buka_navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 70px;
    margin: auto;
    background: rgb(100, 100, 220);
    border: none;
    border-radius: 50%;
}
#navbar .nav1 {
    top: 0;
    width: 60px;
    height: 60px;
    animation: navbar_button 400ms ease-in-out forwards;
}
#navbar .nav2 {
    top: 100px;
    width: 40px;
    height: 40px;
    animation: navbar_button 400ms 1200ms ease-in-out forwards reverse;
}
@keyframes navbar_button {
    from {
        top: 0;
        width: 60px;
        height: 60px;
        background: rgb(100, 100, 220);
    } to {
        top: 100px;
        width: 40px;
        height: 40px;
        background: rgb(220, 100, 100);
    }
}
@keyframes navbar_option {
    from {
        width: 60px;
        border-radius: 50%;
    } to   {
        width: calc(70vmin - 10px);
        border-radius: 20px;
    }
}
@keyframes navbar_font {
    from {
        opacity: 0;
        font-size: smaller;
    } to {
        opacity: 1;
        font-size: large;}
}