#navbar {
    position: absolute;
    width: 70vmin;
    height: 60px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 8%;
    z-index: 8;
}
#navbar .option {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#navbar #opt1 {
    width: 60px;
    border-radius: 50%;
    animation: navbar_option 800ms 400ms ease-in-out forwards;
    animation-direction: normal;
}
#navbar #opt2 {
    width: calc(70vmin - 10px);
    border-radius: 20px;
    animation: navbar_option 800ms 400ms ease-in-out forwards;
    animation-direction: reverse;
}
#navbar .option button {
    border: none;
    background: transparent;
    font-family: sans-serif;
    font-size: smaller;
    opacity: 0;
    color: rgba(255, 255, 255, 1);
}
#navbar #but1 {
    font-size: smaller;
    opacity: 0;
    animation: navbar_font 400ms 1200ms ease-in-out forwards;
    animation-direction: normal;
}
#navbar #but2 {
    font-size: larger;
    opacity: 1;
    animation: navbar_font 400ms ease-in-out forwards;
    animation-direction: reverse;
}
#navbar .buka_navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background: linear-gradient(30deg, #0c1824, #00335e);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    margin: auto;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
#navbar #nav1 {
    top: 0;
    width: 70px;
    height: 70px;
    background: linear-gradient(30deg, #0c1824, #00335e);
    animation: navbar_button 400ms ease-in-out forwards;
    animation-direction: normal;
}
#navbar #nav2 {
    top: 130%;
    width: 40px;
    height: 40px;
    background: rgb(220, 100, 100);
    animation: navbar_button 400ms 1200ms ease-in-out forwards;
    animation-direction: reverse;
}
#navbar .buka_navbar div {
    height: 70%;
    width: 16%;
    position: absolute;
    top: -10%;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
#navbar .buka_navbar div:nth-child(1) {
    left: 20%;
}
#navbar .buka_navbar div:nth-child(2) {
    right: 20%;
}
#navbar #act01 {
    top: -10%;
    left: 20%;
    transform: rotate(0deg);
    animation: act0 400ms ease-in-out forwards;
    animation-direction: normal;
}
#navbar #act11 {
    top: -10%;
    right: 20%;
    transform: rotate(0deg);
    animation: act1 400ms ease-in-out forwards;    animation-direction: normal;

}
#navbar #act02 {
    top: 15%;
    left: 42%;
    transform: rotate(315deg);
    animation: act0 400ms 1200ms ease-in-out forwards;
    animation-direction: reverse;
}
#navbar #act12 {
    top: 15%;
    right: 42%;
    transform: rotate(-315deg);
    animation: act1 400ms 1200ms ease-in-out forwards;
    animation-direction: reverse;

}
@keyframes navbar_button {
    from {
        top: 0;
        width: 70px;
        height: 70px;
        background: linear-gradient(30deg, #0c1824, #00335e);
    } to {
        top: 130%;
        width: 40px;
        height: 40px;
        background: rgb(220, 100, 100);
    }
}
@keyframes navbar_option {
    from {
        width: 60px;
        border-radius: 50%;
    } to {
        width: calc(70vmin - 10px);
        border-radius: 20px;
    }
}
@keyframes navbar_font {
    from {
        opacity: 0;
        font-size: smaller;
    } to {
        opacity: 1;
        font-size: large;
    }
}
@keyframes act0 {
    from {
        top: -10%;
        left: 20%;
        transform: rotate(0deg);
    } to {
        top: 15%;
        left: 42%;
        transform: rotate(315deg);
    }
}
@keyframes act1 {
    from {
        top: -10%;
        right: 20%;
        transform: rotate(0deg);
    } to {
        top: 15%;
        right: 42%;
        transform: rotate(-315deg);
    }
}