#navbar {
    position: absolute;
    width: 70vmin;
    height: 60px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
}
#navbar #option {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: rgba(200, 200, 255, 0.1);
    border: 5px solid rgba(200, 200, 255, 0.2);
    display: grid;
    grid-template-columns: auto auto auto;
}
nav #navbar .opt1 {
    width: 60px;
    border-radius: 50%;
    animation: navbar_option 800ms 400ms ease-in-out forwards;
    animation-direction: normal;
}
nav #navbar .opt2 {
    width: calc(70vmin - 10px);
    border-radius: 20px;
    animation: navbar_option 800ms 400ms ease-in-out forwards;
    animation-direction: reverse;
}
#navbar #option button {
    border: none;
    background: transparent;
    font-family: sans-serif;
    font-size: smaller;
    opacity: 0;
    color: rgba(200, 200, 255, 0.7);
}
#navbar #option .b1 {
    font-size: smaller;
    opacity: 0;
    animation: navbar_font 400ms 1200ms ease-in-out forwards;
    animation-direction: normal;
}
#navbar #option .b2 {
    font-size: larger;
    opacity: 1;
    animation: navbar_font 400ms ease-in-out forwards;
    animation-direction: reverse;
}
#navbar #buka_navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background: rgb(100, 100, 220);
    margin: auto;
    border: none;
    border-radius: 50%;
}
nav #navbar .nav1 {
    top: 0;
    width: 70px;
    height: 70px;
    background: rgb(100, 100, 220);
    animation: navbar_button 400ms ease-in-out forwards;
    animation-direction: normal;
}
nav #navbar .nav2 {
    top: 100px;
    width: 40px;
    height: 40px;
    background: rgb(220, 100, 100);
    animation: navbar_button 400ms 1200ms ease-in-out forwards;
    animation-direction: reverse;
}
@keyframes navbar_button {
    0% {
        top: 0;
        width: 70px;
        height: 70px;
        background: rgb(100, 100, 220);
    } 100% {
        top: 100px;
        width: 40px;
        height: 40px;
        background: rgb(220, 100, 100);
    }
}
@keyframes navbar_option {
    0% {
        width: 60px;
        border-radius: 50%;
    } 100% {
        width: calc(70vmin - 10px);
        border-radius: 20px;
    }
}
@keyframes navbar_font {
    0% {
        opacity: 0;
        font-size: smaller;
    } 100% {
        opacity: 1;
        font-size: large;}
}