<IfModule mod_rewrite.c>

    RewriteEngine on

    RewriteRule ^$ bundle.php?halaman=home [L]
    RewriteRule ^index\.php$ bundle.php?halaman=home [L]

    RewriteRule ^(.*)$ bundle.php?halaman=$1 [L]

</IfModule>
