<IfModule mod_rewrite.c>

    RewriteEngine on

    RewriteRule ^$ bundle.php?page=home [L]
    RewriteRule ^index\.php$ bundle.php?page=home [L]

    RewriteRule ^(.*)\.php$ bundle.php?page=$1 [L]
    RewriteRule ^(.*)$ bundle.php?page=$1 [L]

</IfModule>
